# BAGIAN 2

## Tipe Data, Variabel, Operator Sederhana

### Fungsi print()

Fungsi print() digunakan untuk menampilkan suatu hasil atau tulisan. Setelah fungsi gunakan tanda kurung (). String/text diikuti oleh tanda " " atau ' '.

In [1]:
print("Hello World!")

Hello World!

In [2]:
print('Hello, Python!')

Hello, Python!

In [8]:
print("Siapa kamu? kenalan dong.")
print("Aku siapa? hayo siapa.")

Siapa kamu? kenalan dong.
Aku siapa? hayo siapa.

In [9]:
print("Siapa kamu? kenalan dong.")
print() #memberikan hasil baris kosong
print("Aku siapa? hayo siapa.")

Siapa kamu? kenalan dong.

Aku siapa? hayo siapa.

In [10]:
print("Siapa kamu?\nkenalan dong.")
print()
print("Aku siapa?\nhayo siapa.")
#Newline character (\n) memberikan perintah agar dimulai baris baru

Siapa kamu?
kenalan dong.

Aku siapa?
hayo siapa.

In [9]:
print("The itsy bitsy spider" , "climbed up" , "the waterspout.")

The itsy bitsy spider climbed up the waterspout.

In [10]:
print("My name is", "Python.", end=" ")
print("Monty Python.")

My name is Python. Monty Python.

In [11]:
print("ayo", "kita", "belajar", "operasi", "Python.", sep="-")

ayo-kita-belajar-operasi-Python.

In [12]:
print("ayo", "kita", "belajar", sep="_", end="*")
print("operasi", "Python.", sep="*", end="*\n")
print("The End")

ayo_kita_belajar*operasi*Python.*
The End

In [13]:
print("belajar","pemograman","di", sep="***", end="...")
print("Python")

belajar***pemograman***di...Python

In [9]:
print("    *\n   * *\n  *   *\n *     *\n***   ***\n  *   *\n  *   *\n  *****\n")

    *
   * *
  *   *
 *     *
***   ***
  *   *
  *   *
  *****

> tanda # merupakan tanda komentar (comment), digunakan untuk memberi catatan dan tidak muncul di output

### Tipe Data

- Integer          : bilangan bulat (..., -2, -1, 0, 1, 2,...)
- Floating-point   : memuat bilangan desimal atau bialngan kontinyu (2.5, 3.1, ...)
- String           : teks/tulisan
- Boolean          : hanya terdiri dari True dan False, bisa disimbolkan 1 dan 0

In [3]:
3E8 #float karena mengandung desimal

300000000.0

In [4]:
6.62E-3

0.00662

In [5]:
print('I\'am')
print("I'am")
print("\"\"learning\"\"")
print("\"\"\"Python\"\"\"")

I'am
I'am
""learning""
"""Python"""

### Operator Sederhana

In [14]:
9+2 #addition

11

In [15]:
9-2 #subtraction

7

In [16]:
9*2 #multiplication

18

In [17]:
9/2 #classic division

4.5

In [23]:
#floor/integer division
print(9//2) #pembulatan kebawah menghasilkan integer
print(9.5//2) #pembulatan kebawah menghasilkan float

4
4.0

In [29]:
#exponentiation
print(9**2) 
print(9.**2.)
print(9**2.)
print(9.**2)

81
81.0
81.0
81.0

In [30]:
#Modulus
print(9%2) #sisa pembagian
print(8%5)

1
3

In [32]:
2+3-1*9**2%3 #2+3-(1*81%3)

5

In [33]:
print(9 % 6 % 2) #operasi dari kiri (9%6)%2

1

In [35]:
print(2**3**2) #operasi dari kanan 2**(3**2)

512

### Variabel

- kombinasi dari huruf, angka, garis bawah (underscore)  
- selalu diawali dengan huruf
- Jangan : diawali dengan angka, merupakan kata kunci (keyword), menggunakan spasi

In [43]:
tinggi_1 = 155
tinggi_2 = 170

In [39]:
berat_1 = 45
berat_2 = 86

In [41]:
print(tinggi_1,tinggi_2)
print(berat_1, berat_2)

155 170
45 86

In [51]:
tinggi = "159"
print("berapa tinggimu? -> " + tinggi) #tinggi harus string
berat = 56
print("berapa beratmu? -> ",berat) #berat numerik

berapa tinggimu? -> 159
berapa beratmu? ->  56

In [47]:
t1 = 1
t1 = 2
t1 = t1+1 #t1 yang akan dimasukkan adalah t1 terakhir yaitu 2 
print(t1)

3

In [82]:
var = 2
print(var)

var = 3
print(var)

var += 1
print(var)

2
3
4

In [84]:
var = 2
var = 3 
var += 1 #var = 3+1=4
print(var)
print(var)
print(var)

4
4
4

In [1]:
x, y, z = 1, 2, 3
print("nilai x: ",x)
print("nilai y: ",y)
print("nilai z: ",z)

nilai x:  1
nilai y:  2
nilai z:  3

### Shorcut Operators

In [76]:
i = 2
j = 5
k = 8
l = 6
m = 10

In [77]:
# i = i+4*2. -> i=10.
i += 4*2.
print(i)

10.0

In [78]:
# k = k/2 -> k=4
k /= 2
print(k)

4.0

In [79]:
# j = j%3 -> j=2
j %= 3
print(j)

2

In [80]:
# l = l-4 -> l=2
l -= 4
print(l)

2

In [81]:
# m = m**2 -> m=100
m **= 2
print(m)

100

### Fungsi input()

In [3]:
nama = input("Namamu siapa? :") #hasil fungsi input() ini berupa string
print("Namaku",nama)

Namamu siapa? :fitria
Namaku fitria

In [6]:
ips_1 = float(input("Nilai IPS semester 1 : "))
ips_2 = float(input("Nilai IPS semester 2 : "))
ipk = (ips_1+ips_2)/2.0 #agar dapat dilakakukan operasi aritmatika, variabel harus bersifat numerik
print("Jadi nilai IPK ku adalah", ipk)

Nilai IPS semester 1 : 3.6
Nilai IPS semester 2 : 4
Jadi nilai IPK ku adalah 3.8

In [24]:
x = float(input("Enter value for x: "))
y =  1/(x+1/(x+1/(x+1/x)))
print("y =", y)

Enter value for x: 10
y = 0.09901951266867294

In [1]:
jam = int(input("Starting time (hours): "))
menit = int(input("Starting time (minutes): "))
durasi = int(input("Event duration (minutes): "))
print("sekarang pukul => ", (((jam*60)+menit+durasi)//60)%24,":",((jam*60)+menit+durasi)%60 )

Starting time (hours): 23
Starting time (minutes): 58
Event duration (minutes): 642
sekarang pukul =>  10 : 40

> - string() untuk mengonversi angka menjadi teks
- float() untuk mengonversi format string menjadi float
- int() untuk mengonversi format string/float menjadi integer

### Operator String

dapat menggunakan operator aritmatika (+) dan (*)

In [8]:
#Concatenation operator (+)
first = input("Nama pertama :")
last = input ("Nama terakhir :")
print("Namaku adalah " + first + " " + last)

Nama pertama :fitria nur
Nama terakhir :aida
Namaku adalah fitria nur aida

In [14]:
#Replication operator (*)
# string*number = number*string
print("hei"*3)
print(3*"you")
print(10*"1")

heiheihei
youyouyou
1111111111

In [17]:
print("+" + 10 * "-" + "+")
print(("|" + " " * 10 + "|\n") * 5, end="")
print("+" + 10 * "-" + "+")

+----------+
|          |
|          |
|          |
|          |
|          |
+----------+

In [18]:
print("    *\n   * *\n  *   *\n *     *\n***   ***\n  *   *\n  *   *\n  *****\n"*2)

    *
   * *
  *   *
 *     *
***   ***
  *   *
  *   *
  *****
    *
   * *
  *   *
 *     *
***   ***
  *   *
  *   *
  *****